* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: calc(10px + 1vmin);
  font-family: "Raleway", 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
  'Arial',  sans-serif;
}